@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  --darkbluecolor: #062E7C;
  --brightblue: #50BEFC;
  --tiifborder: #51BEFC;
  --bluelink: #007ACC;
}

body {
  @apply text-sm leading-relaxed md:text-base md:leading-relaxed text-[#1F2430] antialiased overflow-x-hidden;
}

h2 {
  @apply font-oswald block text-4xl leading-normal md:text-6xl md:leading-normal mb-4 md:mb-8;
}

p {
  @apply mb-4;
}

a {
  @apply underline;
}

img.lazy {
  opacity: 0;
}

img:not(.initial) {
  transition: opacity 1s;
}

img.initial,
img.loaded,
img.error {
  opacity: 1;
}

img:not([src]) {
  visibility: hidden;
}

blockquote {
  @apply p-0 m-0;
}

blockquote::before,
blockquote::after {
  @apply font-oswald absolute text-[150px] md:text-[300px] leading-8 text-current opacity-20;

}

blockquote::before {
  top: 2rem;
  left: -1rem;
  content: open-quote;

  @media screen and (min-width: 768px) {
    top: 4rem;
    left: -2rem;
  }
}

blockquote::after {
  bottom: -2.5rem;
  right: 1rem;
  content: close-quote;

  @media screen and (min-width: 768px) {
    bottom: -5rem;
    right: 2rem;
  }
}

blockquote cite {
  @apply text-base;
}

figcaption {
  @apply text-sm mt-4;
}

:focus-visible {
  @apply outline-2 outline-dotted outline-current outline-offset-2;
}

[hidden="false"] {
  @apply block;
}

.container {
  @apply w-full max-w-[1440px] mx-auto px-4 sm:px-8;
}

.tagline {
  font-size: clamp(6rem, 10vw, 9rem);
}

.consolidated-financials {
  text-align: left;
}

.consolidated-financials h2,
.consolidated-financials h3 {
  margin-bottom: 1rem;
}

.consolidated-financials table {
  min-width: 100%;
  margin-bottom: 3rem;
}

.table-headers,
.total-row {
  @apply font-bold border-b border-solid border-[#093236];
}

.consolidated-financials ul {
  border-bottom: 1px solid #093236;
  margin-bottom: 1rem;
}

.consolidated-financials ul li {
  max-width: 164px;
}

.consolidated-financials [role="tablist"] {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 164px));
  gap: .6rem;
}

.consolidated-financials li a {
  width: 100%;
  display: block;
  text-align: center;
  padding: .6rem .4rem;
  color: white;
  font-weight: 600;
}

.consolidated-financials .active {
  background-color: white;
  color: var(--darkbluecolor);
  font-weight: 600;
}

.consolidated-financials [aria-selected="true"] {
  border-top: 1px solid var(--darkbluecolor);
  border-left: 1px solid var(--darkbluecolor);
  border-right: 1px solid var(--darkbluecolor);
  color: var(--darkbluecolor);
  background-color: white;
}

.consolidated-financials [aria-selected="false"] {
  background-color: var(--darkbluecolor);
  color: white;
}

.consolidated-financials {
  place-items: unset;
}

.consolidated-financials [role="tablist"] {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 164px));
  gap: .6rem;
  border-bottom: 1px solid white;
}

table {
  @apply w-full mb-8;
}

th[scope="row"] {
  @apply text-left;
}

sup {
  top: -2.5rem;
  font-size: 60%;
}

th,
td {
  border-bottom: 1px solid #093236;
  padding: .4rem 0;
}

th {
  @apply w-full;
}

td {
  @apply text-center min-w-[6ch];
}

button[role="tab"] {
  @apply transition-colors duration-200 ease-in-out;
}

button[role="tab"]:focus-visible {
  @apply -outline-offset-4 outline-current;
}

.tabs--main button[role="tab"][aria-selected="true"] {
  @apply bg-[#92D0CE] text-[#0D373C];
}

.tabs--dark-green button[role="tab"][aria-selected="true"] {
  @apply bg-[#093236] text-white;
}

.tabs--dark-blue button[role="tab"][aria-selected="true"] {
  @apply bg-[#062E7C] text-white;
}

.splide {
  @apply p-8 lg:p-16 xl:p-24 rounded-xl sm:-mx-4 transition-colors duration-300 ease-in-out;
}

.splide--fade .splide__track {
  @apply overflow-visible;
}

.splide[data-active-theme="dark-brown"] {
  @apply bg-[#34332C] text-[#D3D3BE];
}

.splide[data-active-theme="dark-blue"] {
  @apply bg-[#192239] text-white;
}

.splide[data-active-theme="dark-green"] {
  @apply bg-[#0D373C] text-[#92D0CE];
}

.overlay {
  @apply relative rounded-xl overflow-hidden isolate;
}

.overlay--green::after {
  @apply absolute top-0 w-full h-full bg-[#2C8A95] opacity-40;

  content: '';
}

.overlay--blue::after {
  @apply absolute top-0 w-full h-full bg-[#485879] opacity-40;

  content: '';
}

.overlay--beige::after {
  @apply absolute top-0 w-full h-full bg-[#E5E5DC] opacity-40;

  content: '';
}

#bar {
  @apply w-0;
}

#bar.in-viewport {
  @apply w-[61%];
}

@media screen and (prefers-reduced-motion: reduce) {
  #bar {
    @apply w-[61%];
  }
}
